In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import geopandas as gpd
import utils
from utils import util_functions

In [2]:
df, twi_df = util_functions.get_processed_merged_data()

c:\src\jupyter_codes\foreign-affairs\utils\util_functions.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  country_list = df['focus group'][idx]

In [44]:
with open('findings/country_corps.json', 'r') as file:
    country_info_dict = json.load(file)

In [47]:
len(country_info_dict['Australia']['name'])

239

In [8]:
df['Instagram Follower #'].sum()
df['']

30186031.0

In [11]:
def generate_visual_numbers(num):
    if int(num /1000000000) > 0:
        bil = num /1000000000
        print(f'{bil:.2f} B')
    else:
        mil = num/1000000
        print(f'{mil:.2f} M')
generate_visual_numbers(1047829628)
generate_visual_numbers(70344703)

1.05 B
70.34 M

In [3]:
util_functions.generate_corps_data(df)

In [4]:
corp_dict = util_functions.load_file('findings/corp_data.json')
corp_dict

{'name': 758,
 'owner': 87,
 'parent': 69,
 'twitter': 574,
 'twitter_fol': 70344703,
 'tiktok': 121,
 'tiktok_fol': 20230414,
 'instagram': 140,
 'instagram_fol': 14787228,
 'youtube': 158,
 'youtube_fol': 30186031,
 'facebook': 325,
 'facebook_fol': 1047829628,
 'total': 759}

## Rest

In [ ]:
df.columns

In [3]:
df.head(1)

,Region of Focus,Language,Entity owner (English),Parent entity (English),X (Twitter) handle,X (Twitter) URL,X (Twitter) Follower #,Facebook page,Facebook URL,Facebook Follower #,...,TikTok Subscriber #,Name (English),focus group,is_blue_verified,created_at,followers_count,following_count,tweet_num,followers_following_ratio,formatted_created_at
0,Anglosphere,English,China Media Group (CMG),Central Publicity Department,_bubblyabby_,https://twitter.com/_bubblyabby_,1678.0,itsAbby-103043374799622,https://www.facebook.com/itsAbby-103043374799622,1387432.0,...,660.0,Yang Xinmeng (Abby Yang),"[Australia, Canada, New Zealand, United Kingdo...",True,2014-07-10 02:05:08,2799.0,161.0,851.0,17.385093,2014-07-10

In [4]:
temp_series = df['is_blue_verified'].value_counts(dropna=False)
temp_df = pd.DataFrame({'Name': ["Is Verified", "Is Not Verified", "N/A"], 'Value': list(temp_series.values)})
temp_df

              Name  Value
0      Is Verified    443
1  Is Not Verified    204
2              N/A    111

In [5]:
list(temp_series.index)

[False, nan, True]

In [6]:
temp_df = pd.DataFrame({'Name': [], 'Value': []})